@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
}
/* * {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} */

.bg-gradient{
background: hsla(269, 39%, 40%, 1);

background: linear-gradient(45deg, hsla(269, 39%, 40%, 1) 0%, hsla(231, 71%, 19%, 1) 53%, hsla(285, 70%, 18%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(269, 39%, 40%, 1) 0%, hsla(231, 71%, 19%, 1) 53%, hsla(285, 70%, 18%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(269, 39%, 40%, 1) 0%, hsla(231, 71%, 19%, 1) 53%, hsla(285, 70%, 18%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#643E8C", endColorstr="#0E1954", GradientType=1 );
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.btn-gradient{
  background: hsla(280, 80%, 42%, 1);

background: linear-gradient(135deg, hsla(280, 80%, 42%, 1) 0%, hsla(246, 92%, 25%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(280, 80%, 42%, 1) 0%, hsla(246, 92%, 25%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(280, 80%, 42%, 1) 0%, hsla(246, 92%, 25%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8815C2", endColorstr="#10057A", GradientType=1 );
}

@layer utilities {
   .wrapper {
    @apply max-w-7xl lg:mx-auto px-10  md:px-8 xl:px-10 w-full;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
.flex-center {
    @apply flex justify-center items-center;
  }
  .flex-start {
    @apply flex justify-start items-start;
  }
  .flex-end {
    @apply flex justify-end;
  }
}

.bg-hero-with-opacity {
  position: relative;
}

.bg-hero-with-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/banner.jpeg'); /* Adjust the path accordingly */
  background-size: cover;
  background-position: center;
  border-radius: 20px; /* Match your existing border-radius */
  z-index: -1;
}