@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@layer utilities {
   .wrapper {
    @apply max-w-7xl lg:mx-auto px-10  md:px-8 xl:px-10 w-full;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
.flex-center {
    @apply flex justify-center items-center;
  }
  .flex-start {
    @apply flex justify-start items-start;
  }
  .flex-end {
    @apply flex justify-end;
  }
}

.bg-hero-with-opacity {
  position: relative;
}

.bg-hero-with-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/banner.jpeg'); /* Adjust the path accordingly */
  background-size: cover;
  background-position: center;
  border-radius: 20px; /* Match your existing border-radius */
  z-index: -1;
}